header {
    background-image:url(header.jpeg);
    background-size:111111px;
    margin-top: -8px;
    margin-left: -8px;
}
.logo{
    height:80px;
    border-radius:200px;
}
.div1{
    padding-top:10px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium; 
}
.text-header{
    color:rgb(20, 15, 87);
}
.login{
    text-align: center;
}
button{
    background-color: rgb(0, 153, 255);
    color: white;
    outline: none;
}
button:hover{
    background-color: rgb(188, 207, 219);
}
 a{
    color:rgb(20, 15, 87);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}
.p{
    padding-top: 50px;
    padding-bottom: 1px;
    text-align:center;
}
.h3{
    color: rgb(200, 207, 207);
}
.div2{
    text-align: center;
}
.coluna-div2{
    display: flex;
    justify-content:center; 
}
.coluna-left-div2{
    margin-left:100px;
}

#div3{
    background-color: white;
    margin-top:50px;
    display:flex;
    justify-content:center;
    
}
.text_div3{
    text-align:center;
    margin-right: 100px;
    margin-left:100px;
}
.img_div3{
    margin-right: 250px;
}

.img-img{
    height:120%;
    width:120%;
}

.div4{
    text-align: center;
    background-color: white;
    padding-top:150px;
    padding-bottom:100px;
    display:flex;
    justify-content:center;
}

.pardiv4{
    text-align:center;
    margin-right: 100px;
    margin-left:100px;
}
.video{
    margin-right: 100px;
}
video{
    width: 450px;
}

.div5{
    text-align: center;
    padding-top:50px;
}
.img-icon-div5{
    margin-right: 30px;
    width: 70px;
    height: 70px;
    padding-bottom: 70px;
}
.contato{
    padding: 100px;
    background-color: white;
    text-align: center;
}

.logo-footer{
    height: 57px;
}
.img-footer{
    float:left; margin-left: 100px;
}
.copyrightfooter{
    float:right;
    width:240px;
    margin-right: 50px;
    font-family:Arial, Helvetica, sans-serif;
}